{% extends "base_generic.html" %}

{% block content %}
<div>


    <h1>{{article.title}}({{article.category.name}})</h1>

    <small>{{article.summary}}</small>
<p>
        <img width="300px" height="auto" src="{{article.cover_image_url}}">

</p>

    <p style="padding-top:20px">{{article.content}}</p>

</div>
{% endblock %}