{% extends "base_generic.html" %}

{% block content %}
  <h1>Accueil de Mon Blog</h1>
  <p>Bienvenue dans mon Blog !</p>
  <h2>Contenu dynamique</h2>
  <p>Le Blog dispose des enregistrements suivants:</p>
  <ul>
    <li><strong>Articles:</strong> {{ num_articles }}</li>
    <li><strong>Categories:</strong> {{ num_categories }}</li>
  </ul>
<div>
  <h2>Liste des articles</h2>

  <ul>

    {% for article in articles_list %}

    <li> {{article.title}} </li>

    {% endfor %}

  </ul>

</div>
{% endblock %}